.base-icon-button {
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
}

.base-icon-button__icon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
