.modal-close-button {
  width: 32px;
  height: 32px;
  justify-content: center;
  padding: 0;
}

.modal-close-button__icon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
