html {
  color-scheme: dark;
  background-color: var(--color-background);
}

html[data-theme="light"] {
  color-scheme: light;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}
